@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;600&display=swap');


.singlepost{
   
    font-family: 'Sora', sans-serif;
    border-radius: 0;

    height: 100%; 
    padding:0 0 2em 0;
}
.singlepost .event_head{
    padding-top: 2rem;
    background-color: #f5f6f9;
}
.singlepost .event_head h1{
    font-size: 2rem;
}
.singlepost .event_head span{
    color: blue;
}

.singlepost .image{
    margin-top: 2rem;
    width: 40%;
    border-radius: 13px 13px 13px 13px;
-moz-border-radius: 13px 13px 13px 13px;
-webkit-border-radius: 13px 13px 13px 13px;
}

.singlepost .image img{
    width: 100%;
    border-radius: 13px 13px 13px 13px;
-moz-border-radius: 13px 13px 13px 13px;
-webkit-border-radius: 13px 13px 13px 13px;

}

.singlepost .event_info{
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #f5f6f9;
    color: rgb(0, 0, 0);
    
   
}
.singlepost .event_info h1{
    font-size: 3rem;
    font-weight: 600;
}
.singlepost .event_info h2{
    font-size: 1.2rem;
}

.singlepost .event_info p{
    margin:2rem 0;
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
}
@media screen and (max-width: 800px) {
    .singlepost .image{
        width: 100%;
    }
    .singlepost .event_info h1{
        font-size: 1.5rem;
    }
}
.Community-div-platform-wa {
    margin-top: 1rem;
    width: 301px;
    height: 94px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
}
.Community-whatsapp-logo {
    height: 38px;
    width: 99px;
    margin-right: 28px;
}
.Community-handlesText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  