@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: 'Montserrat', sans-serif;
}

#progressBarContainer {
  position: fixed;
  z-index: 10;
  background: rgba(255,255,255,0.05);
  width: 100%;
  top: 0;
  left: 0;
}


#progressBar {
  background: linear-gradient(to left, rgb(0, 26, 255), rgb(130, 137, 238));
  transform-origin: top left;
  transform: scale(0,0);
  opacity: 0;
}

#progressBarContainer,
#progressBar {
  height: 5px;
}